{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center mt-5">Hello {{name|title}}!</h1>

    <form class="text-center" action="{{ path('changeMyName') }}" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name"><br>
        <input type="submit" class="btn-dark">
    </form>

    <!--<a href="{{ path('aboutme') }}">Go to about me</a>-->
{% endblock %}

